<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>relaxation-Absynth-Beach-90</string>
	<string>relaxation-Blue-Sun-90</string>
	<string>relaxation-Bouncing-Mark-I-90</string>
	<string>relaxation-Carrier-90</string>
	<string>relaxation-Click-Winter-1-90</string>
	<string>relaxation-Cypress-90</string>
	<string>relaxation-Dance-Organ-90</string>
	<string>relaxation-Distant-Pianet-90</string>
	<string>relaxation-Dominant-90</string>
	<string>relaxation-Dub-Pulse-90</string>
	<string>relaxation-Eighties-EP-90</string>
	<string>relaxation-Empee-EP-90</string>
	<string>relaxation-Kick-Winter-2-90</string>
</array>
</plist>
